body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #ADD8E6;
    background-color: #808080;
    margin: 15px;
}

h1 {
    color: #FF0000;
    font-size: 20pt;
}

h2 {
    color: #00FF00;
    font-size: 18pt;
}

h3 {
    color: #0000FF;
    font-size: 16pt;
}

p {
    color: #6A5ACD;
    font-size: 13pt;
    line-height: 1.5;
}

a:hover {
    color: #C0C0C0;
}

a:active {
    color: #008080;
}

a:link,
a:visted {
    color: #FF00FF;
}

.table-container {
    display: table;
    width: 68%
    height: 40%;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 20px;
    border: 4px solid;
}
